<?xml version="1.0" encoding="GB2312"?>
<root>
	<trade>
		<FuturesServer name="默认交易服务" Default="1">
			<item Name="南华期货仿真" Server="tcp://115.238.106.253:41217" BrokerID="1008"/>
			<item Name="Simnow[电信]" Server="tcp://180.168.146.187:10201" BrokerID="9999"/>
			<item Name="Simnow[7x24]" Server="tcp://180.168.146.187:10130" BrokerID="9999"/>
		</FuturesServer>
		<OptionServer name="期权交易" Default="0">
			<item Name="海通期权仿真" Server="180.166.179.196" Port="5912"/>
		</OptionServer>
		<ActualsServer name="现货交易" Default="0">
			<item Name="湘源现货仿真" Server="120.86.70.44" Port="8901"/>
		</ActualsServer>
	</trade>
	<quotation>
		<FuturesServer name="默认行情服务" Default="1">
			<item Name="南华期货仿真" Server="tcp://218.202.237.33:10213"/>
			<item Name="Simnow[电信]" Server="tcp://180.168.146.187:10211"/>
			<item Name="Simnow[7x24]" Server="tcp://180.168.146.187:10131"/>
		</FuturesServer>
		<OptionServer name="期权行情服务" Default="0">
			<item Name="海通张江机房电信" Server="180.169.63.12" Port="8201" Account="JFkJ" Password="123456"/>
		</OptionServer>
		<ActualsServer name="现货行情服务" Default="0">
			<item Name="方舟上海电信" Server="124.74.252.82" Port="8910"/>
		</ActualsServer>
	</quotation>
	<account>
		<FuturesAccount Default="1">
			<item Name="华南期货账户" Account="90100893" PassWord="xx147258" AuthCode="A7KVN5MTEQ8B66EE" AppID="client_xytz_1.0.1"/>
			<item Name="Simnow账户" Account="189010" PassWord="xiangyuan@123" AuthCode="0000000000000000" AppID="simnow_client_test"/>
		</FuturesAccount>
		<OptionAccount Default="0">
			<item Name="海通期权仿真账户" Account="9071000498" PassWord="135246"/>
		</OptionAccount>
		<ActualsAccount Default="0">
			<item Name="海通现货仿真账户" Account="0590000095" PassWord="600837"/>
		</ActualsAccount>
	</account>
</root>
<!-- 
		<group Name = "默认账户">
		
			<item Account="90100893" PassWord=""AuthCode="A7KVN5MTEQ8B66EE" AppID="client_xytz_1.0.1"/>	
		</group>
		<group Name = "Simnow[7x24]">
			<item Account="189010" PassWord="1450730193@@lu" BrokerID="9999" AuthCode="0000000000000000" AppID="simnow_client_test"/>	
			<server>tcp://180.168.146.187:10131</server>
		</group>
		<group Name = "Simnow[电信]">
			<item Account="189010" PassWord="xiangyuan@123" BrokerID="9999" AuthCode="0000000000000000" AppID="simnow_client_test"/>	
			<server>tcp://180.168.146.187:10211</server>
		</group>
		<group Name = "南华期货仿真">
			<item Account="90100893" PassWord="xx147258" BrokerID="1008" AuthCode="A7KVN5MTEQ8B66EE" AppID="client_xytz_1.0.1"/>	
			<server>tcp://218.202.237.33:10213</server>
		</group> 
-->
